.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #180f0f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 10px;
}

.modal button:hover {
  background-color: #d32f2f;
}

.modal .cancel-button {
  background-color: #ccc;
}

.modal .cancel-button:hover {
  background-color: #bbb;
}